name: Deploy

on:
  push:
    branches:
      - "main"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and push Docker image
        run: |
          echo '{ "insecure-registries": ["79.187.49.90","79.187.49.90:32711"] }' | sudo tee /etc/docker/daemon.json
          sudo systemctl restart docker

          cat <<EOF > .env
          VITE_BACKEND_BASE_URL=https://baza-wiedzy-b.kiszczyc.pl
          VITE_FRONTEND_BASE_URL=https://baza-wiedzy-f.kiszczyc.pl
          VITE_APP_VERSION=0.1.0-Beta.1
          EOF

          echo "Building image"
          docker build -t ${{ vars.APPLICATION_NAME }}:latest .

          echo "Tagging image"
          docker tag ${{ vars.APPLICATION_NAME }}:latest ${{ vars.REGISTRY }}/${{ vars.APPLICATION_NAME }}:latest

          echo "Pushing image"
          docker push ${{ vars.REGISTRY }}/${{ vars.APPLICATION_NAME }}:latest
